
<div class="splide">
    <div class="splide__track">
        <div class="splide__list">
            {% for slide in section.blocks %}
                {%- if slide.settings.url != blank -%}
                    <div class="splide__slide"><a href="{{slide.settings.url}}">{{slide.settings.slide | img_url: "master" | img_tag }}</a></div>
                {%- else -%}
                    <div class="splide__slide">{{slide.settings.slide | img_url: "master" | img_tag }}</div>
                {%- endif -%}
            {% endfor %}
        </div>
    </div>
</div>

{% style %}
.slideshow{width:100%;float:left}
.slideshow .splide__slide img{width:100%;}
{% endstyle %}

{% schema %}
{
    "name": "Hero Slider",  
    "tag": "section",
    "class": "slideshow",
    "blocks":[
        {
            "name": "Slide",
            "type": "slide_image",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Add Slide",
                    "id": "slide"
                },
                {
                    "type": "text",
                    "label": "URL",
                    "id": "url"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hero Slider"
        }
    ]
}
{% endschema %}